html,body{
    /* Reset the padding and margin to 0 */
    padding:0;margin:0;
    background: #000000;
}
h1 {
    padding: 0;
    margin: 0;
}
.mainBodyCenter{
    width: 500px;
    background: #666666;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}